{{!-- dashboard page showing us goals, progress, and priority (upcoming) tasks--}}
<div class="header">
  <a href="dashboard.handlebars">
    <img id="logo" src="/images/logo.png" alt="logo">
  </a>
  <h1>ACCOUNTABILIBUDDY</h1>
</div>


<div class="container">
  <br>
  <div class="row">


    <button type="submit" class="signBtn1"><a href="/api/logout" class="back2home">Sign Out</a></button>
    <button type="submit" class="signBtn1">View Completed Goals</button>


  </div>
  <br>

  <div class="row">

    <div id="priorityTasks" class="priorityTasks col-lg-5">
      <br>
      <p class="leading">Priority Tasks</p>
      <br>
      <ul>
        {{#each tasks}}
        <li>
          <p>Task #{{ id }}: {{ description }}</p>
        </li>
        {{/each}}
      </ul>
      <br>
    </div>

    <div class="col-lg-2"></div>

    <br>

    <div class="add-goal col-lg-5">
      <br>
      <p class="leading">Add a Goal</p>
      <br>
      <form action="/api/goal" method="POST">
        <textarea type="text" name="description" id="textInput" class="textInput"></textarea>
        <br><br>
        <button type="submit" class="signBtn">Add Goal!</button>
      </form>
      <br>
    </div>

  </div>

  <br>
  <div class="row">

    <button type="submit" class="signBtn1">View Completed Goals</button>

  </div>
  <br>

  <div class="row">

    <div id="myProgress" class="myProgress col-lg-12">
      <br>
      <p class="leading">Goals</p>
      <br>
      <div class="row">

        {{#each goals}}
        <p id="myBar" class="goalTime col-lg-9"><a href="/:{{ id }}/tasks">{{description}}</a></p>
        <div class="col-lg-1"></div>
        <button type="submit" formaction="/action_page2.php" class="signBtn1 col-lg-1">✅</button>
        <button type="submit" formaction="/api/goal/:id" class="signBtn1 col-lg-1">❌</button>
        {{/each}}

      </div>

    </div>

  </div>

  <br>
</div>

<div class="footer">

  <p>© Copyright 2019</p>

</div>