{{!-- dashboard page showing us goals, progress, and priority tasks--}}

{{!-- header --}}
{{!-- priority tasks (top 5 due soon) me --}}
<div id="ptasksData"></div>
{{!-- add goal form --}}
{{!-- current goals as loader bar me --}}
<div id="myProgress">
  <div id="myBar">20%</div>
</div>
{{!-- footer --}}
