<div class="container">

    <div class="row">

        {{!-- Andrew: header put here --}}
        <div class="header text-center">
            <a href="dashboard.handlebars" class="text-center">
                <img id="logo" src="#" alt="logo">
            </a>
            <h1>ACCOUNTABILIBUDDY</h1>
        </div>

    </div>
    {{!-- Nicole: description/bio put here --}}

    <div class="row">

        <div class="text-center">
            <h2>Welcome to Accountabilibuddy. A safe place to store your hopes and dreams.</h2>
        </div>

    </div>

    <div class="row">

        {{!-- Nicole: authentication form and button put here --}}

        <div>

            <h2>Sign in to your account.</h2>

            <form class="sign-in" action="/">
                Email:<br>
                <input type="text" name="email" value="">
                <br><br>
                Password:<br>
                <input type="text" name="password" value="">
                <br><br>
                <input type="submit" value="Sign In">
            </form>

            <p>If you don't have an account <a href="create-account.handlebars">sign up</a>.</p>

        </div>

    </div>

    <div class="row">

        {{!-- Andrew: footer put here --}}
        <div class="footer">
            <p>© Copyright 2019</p>
        </div>

    </div>
</div>