{{!-- sign in page (already have an account) ... can take you to create account page--}}

<div class="container">
    

        <div class="header">
            <a href="dashboard.handlebars">
                <img id="logo" src="#" alt="logo">
            </a>
            <h1>ACCOUNTABILIBUDDY</h1>
            <br>
        </div>
    

    <br>

    <div class="row">

        <div>
            <h2>Welcome to Accountabilibuddy. A safe place to store your hopes and dreams.</h2>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col-lg-4"></div>

        <div class="sign-in col-lg-4">

            <br>

            <p>Sign in to your account.</p>

            <form action="/">
                Email:<br>
                <input type="text" name="email" value="">
                <br><br>
                Password:<br>
                <input type="text" name="password" value="">
                <br><br>
                <input type="submit" class="signBtn" value="Sign In">
            </form>
            <br>
            <p>Don't have an account? <a href="/views/create-account.handlebars" class="text-light">Sign up.</a></p>
        </div>

        <div class="col-lg-4"></div>

    </div>

    <br> <br>

    <div class="footer">
        <p>© Copyright 2019</p>
    </div>

</div>