.header h1 {
  font-family: 'Righteous', cursive;
}

.header {
  background-color: #190061;
}

body {
  background-color: #282828;
  align-content: center;
  text-align: center;
  color: aliceblue;
}

.sign-in {
  align-content: center;
}

