.header h1 {
  font-family: 'Righteous', cursive;
}

.header {
  background-color: #190061;
}

body {
  background-color: black;
  align-content: center;
  text-align: center;
  color: aliceblue;
}

.sign-in {
  align-content: center;
  /* border-style: solid; */
  /* border-color: #3500D3; */
  font-size: 18px;
  background-color:#282828;
  border-radius: 10px;
}

.signBtn {
background-color: #240090;
color: aliceblue;
border-radius: 5px;
border: 1px;
}

